body {
  background: #000;
  color: #fff;
}
li {
  list-style-type: none;
  text-align: center;
}
#time {
  text-align: center;
  border: 1px solid #fff;
  padding: 15px;
  margin-bottom: 50px;
}
#planetName {
  text-align: center;
  border: 1px solid #fff;
  padding: 15px;
}
#planetImage {
  text-align: center;
  border: 1px solid #fff;
  padding: 15px;
}
#planetDesc {
  text-align: center;
  border: 1px solid #fff;
  padding: 15px;
}
.console {
  text-align: center;
  border: 1px solid #fff;
  padding: 15px;
}
#space_port p:hover, #investigate p:hover {
  background-color: blue;
  cursor: pointer;
}
hr {
  border-top: 1px solid rgba(255,255,255,1);
}
@media screen and (max-width: 991px) {
  #planetImage img {
    width: 100%;
  }
}